---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Responsive Navbar Component</h1>
  <p>
    This is a demonstration of the responsive Navbar component. Resize the
    window to see it in action.
  </p>
</Layout>
