---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
---

<html lang="en">
  <head>
    <meta name="view-transition" content="same-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400..700;1,7..72,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <main><slot /></main>
  </body>
</html>

<style is:global>
  main {
    padding-inline: max(1rem, calc((100vw - var(--max-page-width))/2));
    padding-block: 2rem;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
