---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Responsive Header/Footer Layout (sticky footer)</h1>
  <ul>
    <li>The navabar is responsive (no JS used).</li>
    <li>The footer sticks to the bottom of the page, even when the viewport has a largen height than the cumulated height of the content to display.</li>
  </ul>
</Layout>
